body {
  height: 2800px;
  background: linear-gradient(
    to bottom,
    #101832,
    #152455
	);
  font-family: "lato", sans-serif;
}

h1 {
  font-weight: 300;
  color: white;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 100;
  padding: 25px 15px;
}
h2 {
  color: #FCC90E
}

h3 {
  color: #151A29; 
  line-height: 0.1em;
}

p {
  color: #151A29;
  text-align: center;
}
section {
	text-align:center;
}

/*Side-menu. */

.scroller{
  position: fixed;
  float:right;
	margin-right: 5%;
	top: 40%;
	z-index: 1;
}

.feature{
  vertical-align: middle;
	background-color: rgba(67, 78, 115, .4);
	border-radius: 5px;
	margin: 10px;
	width: 10em;
  padding: 0.5em; 
  text-align: center; 
  overflow: hidden;
}

.feature span {
  color: #FCFCFF; 
  text-decoration: none;
}

.selected {
  background-color: white;
  /*border: 2px solid rgba(0,0,0,0.05);*/
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
}
.selected span {
  color: black;
}
/* Buttons*/
#buttonCluster{
  float: right;
  min-width: 300px;
  margin-top: 2.5em;
  text-align: right;
  margin-right: 2em;
}


.mainBtnStyle, .mainBtnStyle a {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: black;
  border:2px solid #FCC90E;
  background-color: #FCC90E;
  border-radius: 5px;
  transition: all 0.25s;
  min-width: 120px;
  width: 30%;
  height: 100%;
  margin-bottom: 4%; 
  padding: 5px;
  overflow: hidden;
  text-decoration: none;
}

.mainBtnStyle:hover,.mainBtnStyle:hover > a{
  transform: scale(1.05);
  background-color: #FCFCFF;
  border:2px solid #FCFCFF;
}

#VEXItitle {
  color: #FCC90E;
  font-size: 40pt;
  font-weight: bold;
  position: relative;
  bottom:0.1em;
  left: 0.4em;
}

#contact:hover{
  transform: scale(1.1);
}

#contact:visited{
  color: black;
}

.secondaryBtnStyle{
  background-color: transparent;
  border:2px solid #FCC90E;
  border-radius: 5px;
  transition: transform .25s;
  min-width: 120px;
  width: 30%;
  color:#FCC90E;
  margin-right: 1em;
  margin-bottom: 4%;
  padding: 5px;
}

.secondaryBtnStyle a {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #FCC90E;
  overflow: hidden;
  text-decoration: none;
}

.secondaryBtnStyle:hover {
  transform: scale(1.05);
  border:2px solid #FCFCFF;
}

.secondaryBtnStyle:hover > a {
  color: #FCFCFF;
}

/*Logo */

#logo{
	background-color: transparent;
  position: relative;
  margin-top: 2em;
	margin-left: 2em;
}

/*Form */

#formstad{
  position: relative;
  height: 200%;
  margin-left: 38%;
  margin-right: 25%;
  margin-top: 5%;
  text-align: center;
}

input, textarea{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;

}

label, input{
    font-family: "lato", sans-serif;
    font-weight: 300;
    color: #FCFCFF;
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
}

.submit{
	background-color: #FCC90E;
	border:2px solid #FCC90E;
	border-radius: 5px;
	transition: transform .35s;
	padding: 5px;
}

.submit:hover{
  transform: scale(1.1);
}

/*Backgrounds*/

#bck{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
  z-index: -3;
}

/* Scrollergreia og telefonene på forsiden */
#allStepsContainer {
  width: 800px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 50px;
}
  
.star-svg {
  right: 0;
  width: 100%;
  position: absolute;
  top: 360px;
  margin-bottom: 300px;
  z-index: -2;
}

.stepContainer {
  min-width: 300px;
  width: 25%;
  color: gray;
  margin: auto;
  text-align:center;
  position: relative;
  transition: all .35s;
  
}

.stepContainer > div {
  margin: 5px;
  padding: 10px;
  position: relative; 
  bottom: 160px;
  z-index: -1;
  background-color: #FCFCFF;
  border-radius: 5px;
  transition: .35s;
  transform: scale(0.5);
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
}

#stepContainer1 {
  float: right;
  margin-right: -50px;
  margin-top: -50px;
}

#stepContainer2{
  float:left;
  margin-top:600px;
  margin-left: -50px;
}

#stepContainer3{
  float:right;
  margin-top: 1350px;
  margin-right: -300px;

}
#stepContainer4{
  float:left;
  margin-top: 1925px;
  margin-left: -305px;
}

.stepContainer > img {
  width: 300px;
  transition: 0.35s; 
  
}


.visited {
  transition: 0.35s;
  transform: scale(1.2);
}

.visited + div{
  transform:  translate(0, 200px);
}


#stepImg1.visited{
	content:url("images/index/steps/needARideActive.svg");
}
  
#stepImg2.visited{
	content:url("images/index/steps/getInTouchActive.svg");
}
  
#stepImg3.visited{
	content:url("images/index/steps/rideActive.svg");
}

#stepImg4.visited{
  content:url("images/index/steps/settleActive.svg");
}


/*Roadmap*/


.wrap{
  position: relative;
  height: 50%;
  margin-top: 8%;
  margin-bottom: 10%;
  min-width:990px;

}

.Queue{
    display:inline-block;
    min-width: 270px;
    transition: transform .7s;
}

.Queue:hover{
    transform: scale(1.2);

}

.marker{
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width:50%;
    float:left;
}

.markerTextUp{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);

}

.markerTextDown{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.roadText{
    width:50%;
    float:right;
    color:#FCFCFF;
}

#road1{
  position: relative;
  margin-left: 5%;
  margin-bottom: 1%;
  width: 20%;
}

#road2{
  position: relative;
  margin-left: 25%;
  margin-top: 2%;
  width: 20%;
}

#road3{
  position: relative;
  margin-left:25%;
  margin-bottom: 1%;
  width: 20%;
}

#road4{
  position: relative;
  margin-left: 20%;
  margin-top: 2%;
  width: 20%;
}

#TheRoad{
  width:100%;
}


/*Roadmap mobile version  */
@media all and (max-width: 990px){
  .wrap{
  margin-left: 5%;
  width: 60%;
  min-width:0;
  margin-top: 30%;
}

#road1, #road2, #road3, #road4{
    position: relative;
    margin-left:45%;
    margin-bottom: 4%;
    margin-top: 4%;
    width: 20%;
}

#road1{
    margin-top: 12%;
}

#TheRoad{
    transform: rotate(90deg);
    margin-left:-350px;
    min-width: 800px;
}

.Queue:hover{
  transform: none;
}

.roadImage{
    transform: rotate(90deg);
}
 .roadImage2{
    transform: rotate(270deg);
}
 .markerTextUp{
    top: 50%;
    left: 25%;
}
 .markerTextDown{
    top: 50%;
    left: 25%;
}
 .marker{
    width:40%;

}
}

/* CONTACT */
/* ------------ */
.intro{
  margin-left:7%;
  margin-right:30%;
  text-align:left;
}

#contactInfo {
  margin-left:7%;
  width: 60%;
  padding:50px;
  }
#contactInfo li{
  color: #FCFCFF;
}
  
/*how to apply*/
#apply ul#applySteps {
    margin-left:25%;
    width: 50%;
}

#applySteps li {
    font-size:17px;
    color: #FCFCFF;
    padding:8px;
}
#applySteps li#emailPrep {
    list-style-image:url(images/contact/ringemail.png);
    list-style-position:outside;
    color: #FCFCFF;
}
#applySteps li#emailContent {
    list-style-image:url(images/contact/ringempl.png);
    list-style-position:outside;
    color: #FCFCFF;
}
#applySteps li#emailSend {
    list-style-image:url(images/contact/ringsend.png);
    list-style-position:outside;
    color: #FCFCFF;
}


/* TODO: FIKS dette  */

#owner {
  margin-left:9%;
  margin-right:30%;
}

#formstad{
  position: relative;
  height: 200%;
  margin-left: 40%;
  margin-right: -4%;
  margin-top: -38%;
  text-align: center;
  margin-bottom: 15%;
}

input, textarea{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 7px;
    border-color: #FCFCFF;
    border-width: medium;
    background-color: #101832;
}

textarea{
  color: #FCFCFF;
}

label{
  color: #FCC90E;
    font-size: 90%;
    font-weight: bold;
}

.submit{
  background-color: #FCC90E;
  border:2px solid #FCC90E;
  border-radius: 5px;
  transition: transform .2s;
  padding: 5px;
  font-size: 15px;
}

.submit:hover{
  transform: scale(1.1);
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height:30px;
    background-color: #FCFCFF;
    color: black;
    font-size: 80%;
    text-align: center;
    padding-top: 1%;
}

.btnHome{
    background: url(images/homeBtn.svg);
    background-repeat: no-repeat;
    background-size: 276px;
    width:276px;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
}


/*Mobile version*/
@media all and (max-width: 950px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
/*Buttons*/
.buttonstyle{
  font-size: 60%;
  padding: 0;
}

#btncontact{ 
padding: 0;
float: right;
}

#btnRoadmap{
  padding: 0;
  float: left;
}

.wrap{
  margin-top: 15%;
  width: 70%;
}

#buttonCluster{
  position: relative;
  margin-right: 1em;
  margin-top: 1em;
  width: 20%;
}

#vexi:hover, #buttin:hover, #contact:hover{
  transform: none;
}



/*Roadmap  Har egen versjon ved lengere opp*/



/* Contact */
#formstad{
  margin-top: 20%;
  width: 100%;
  margin-left: 0;
}

#owner{
  width: 50%;
  margin-left: 20%;
}

.intro{
  margin-top:10%;
  margin-left: 20%;
  margin-right: 10%;
}

#contactInfo {
  width: 30%;
}

#applyForjob{
  width: 80%;
  margin-left: 10%;
}

#apply ul#applySteps {
  width: 40%
}
#applySteps li#emailPrep {
    list-style-image:none;
    list-style-position:outside;
    color: #FCFCFF;
    margin-left: -30%;
}
#applySteps li#emailContent {
    list-style-image:none;
    list-style-position:outside;
    color: #FCFCFF;
    margin-left: -30%;
}
#applySteps li#emailSend {
    list-style-image:none;
    list-style-position:outside;
    color: #FCFCFF;
    margin-left: -30%;
}


/*Index*/
#VEXItitle {
  display:none;
}

.bck {
  display: none;
}

.scroller{
  display: none;
}
.star-svg{
  display: none;
}

.stepContainer {
padding-bottom: 3em;
}

.stepContainer > div {
  bottom: 20px;
}

#stepContainer1, #stepContainer2, #stepContainer3, #stepContainer4{
margin: 0 0;
width: 45%;
float: none;
}
}