body {
    background-color:#152455;
  );
  font-family: 'Lato', sans-serif;
  margin: 0px;

overflow-x: hidden;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
}
h2 {
  color: #FCC90E
}

p {
  color: white;

  line-height: 2
  }
  section {
  text-align:center;
  }
  

/*Side-menu. */

.scroller{
  position: fixed;
  height: 25%;
  width: 15%;
  margin-left: 82%;
  margin-right: 5%;
  top: 47%;
  z-index: 1;
}

@media all and (max-width: 930px){
  .scroller{
    display: none;
  }
}

.features{
  margin-left: 20%;
  text-decoration: none;
  color: white;
}
.feature{
  background-color: #373E56;
  border-radius: 5px;
  margin: 7px;
  width: 100%;
  height: 10%;
}

/* Change color of selected a-font */
.selected a.features{
  color: #373E56;
}

.feature.selected{
  background-color: white;
  color: #373E56;
}



/* Buttons*/
#buttonCluster{
  position: relative;
  margin-left: 75%;
    margin-right: 5%;
    margin-top: 4%;
    width: 25%;
}

#contact, #vexi, #buttin{
  background-color: #FCC90E;
  border:2px solid #FCC90E;
  border-radius: 5px;
  transition: transform .7s;
  width: 45%;
  height: 100%;
  margin-right: 1%; 
  padding: 5px;
  overflow: hidden;
}

#contact:hover{
  transform: scale(1.1);
}

#contact:visited{
  color: black;
}

#buttin{
  background-color: transparent;
  border:2px solid #FCC90E;
  border-radius: 5px;
  transition: transform .7s;
  width: 45%;
  color:#FCC90E;
  margin-right: 1%; 
  padding: 5px;
  overflow: hidden;
}
#buttin:hover{
  transform: scale(1.1);
}

#buttin:visited{
  text-decoration: #FCC90E;
}

.buttonstyle{
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#roadmap{
  color: #FCC90E;
}


/*Logo */

#logo{
  background-color: transparent;
  position: absolute;
  margin-left: 2%;
  transition: transform 1s;
}

#logo:hover{
  transform: scale(1.5);
}




/*Form */

#formstad{
  position: relative;
  height: 200%;
  margin-left: 38%;
  margin-right: 25%;
  margin-top: 5%;
  text-align: center;
}

input, textarea{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;

}

label, input{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
}

.submit{
  background-color: #FCC90E;
  border:2px solid #FCC90E;
  border-radius: 5px;
  transition: transform .7s;
  padding: 5px;
}

.submit:hover{
  transform: scale(1.1);
}



/*Backgrounds*/

.bck{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}


/* Scrollergreia og telefonene på forsiden */


 .star-svg {
    right: 0;
    width: 100%;
    position: absolute;
    top: 360px;
  }


#steps {
    width: 620px;
    margin: auto;
  margin-top: 200px;
  margin-bottom: 50px;
}

#step1, #step2,#step3,#step4{
    width: 200px;
    position: relative;
    float: right;
    transition: transform 1s;
}

#step1:hover,#step2:hover,#step3:hover,#step4:hover{
    transform:  scale(1.4);
}

#step2{
    float:left;
    margin-top: 450px;
    margin-left: -80px
}

#step3{
    margin-top: 1200px;
    margin-right: -240px;
}
#step4{
    float:left;
    margin-top: 1900px;
    margin-left: -140px
}

#step1.visited{
  content:url("images/index/steps/step1_visited.svg");
}
#step2.visited{
  content:url("images/index/steps/step2_visited.svg");
}
#step3.visited{
  content:url("images/index/steps/step1_visited.svg");
}
#step4.visited{
  content:url("images/index/steps/step2_visited.svg");
}


/*Roadmap*/
.wrap{
  position: relative;
  height: 50%;
  margin-top: 8%;
  margin-bottom: 10%;
  min-width:990px;

}

.Queue{
    display:inline-block;
    min-width: 270px;
    transition: transform .7s;
}

.Queue:hover{
    transform: scale(1.2);

}

.marker{
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width:50%;
    float:left;
}

.markerTextUp{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);

}

.markerTextDown{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.roadText{
    width:50%;
    float:right;
    color:white;
}

#road1{
  position: relative;
  margin-left: 5%;
  margin-bottom: 1%;
  width: 20%;
}

#road2{
  position: relative;
  margin-left: 25%;
  margin-top: 2%;
  width: 20%;
}

#road3{
  position: relative;
  margin-left:25%;
  margin-bottom: 1%;
  width: 20%;
}

#road4{
  position: relative;
  margin-left: 20%;
  margin-top: 2%;
  width: 20%;
}

#TheRoad{
  width:100%;
}


/*Roadmap mobile version  */
@media all and (max-width: 990px){
  .wrap{
  margin-left: 5%;
  width: 60%;
  min-width:0;
  margin-top: 30%;
}

#road1, #road2, #road3, #road4{
    position: relative;
    margin-left:45%;
    margin-bottom: 4%;
    margin-top: 4%;
    width: 20%;
}

#road1{
    margin-top: 12%;
}

#TheRoad{
    transform: rotate(90deg);
    margin-left:-350px;
    min-width: 800px;
}

.Queue:hover{
  transform: none;
}

.roadImage{
    transform: rotate(90deg);
}
 .roadImage2{
    transform: rotate(270deg);
}
 .markerTextUp{
    top: 50%;
    left: 25%;
}
 .markerTextDown{
    top: 50%;
    left: 25%;
}
 .marker{
    width:40%;

}
}

/* CONTACT */
/* ------------ */
.intro{
  margin-left:7%;
  margin-right:30%;
  text-align:left;
}

#contactInfo {
  margin-left:7%;
  width: 60%;
  padding:50px;
  }
#contactInfo li{
  color: white;
}
  
/*how to apply*/
#apply ul#applySteps {
    margin-left:25%;
    width: 50%
}
#applySteps li {
    font-size:17px;
    color: white;
    padding:8px;
}
#applySteps li#emailPrep {
    list-style-image:url(images/contact/ringemail.png);
    list-style-position:outside;
    color: white
}
#applySteps li#emailContent {
    list-style-image:url(images/contact/ringempl.png);
    list-style-position:outside;
    color: white
}
#applySteps li#emailSend {
    list-style-image:url(images/contact/ringsend.png);
    list-style-position:outside;
    color: white
}


/* TODO: FIKS dette  */

.bck {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#owner {
  margin-left:9%;
  margin-right:30%;
}

#formstad{
  position: relative;
  height: 200%;
  margin-left: 40%;
  margin-right: -4%;
  margin-top: -38%;
  text-align: center;
  margin-bottom: 15%;
}

input, textarea{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 7px;
    border-color: white;
    border-width: medium;
    background-color: #101832;
}

textarea{
  color: white;
}

label{
  color: #FCC90E;
    font-size: 90%;
    font-weight: bold;
}

.submit{
  background-color: #FCC90E;
  border:2px solid #FCC90E;
  border-radius: 5px;
  transition: transform .2s;
  padding: 5px;
  font-size: 15px

}

.submit:hover{
  transform: scale(1.1);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height:30px;
    background-color: white;
    color: black;
    font-size: 80%;
    text-align: center;
    padding-top: 1%;
}

.btnHome{
    background: url(images/homeBtn.svg);
    background-repeat: no-repeat;
    background-size: 276px;
    width:276px;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
}


/*Mobile version*/
@media all and (max-width: 820px) {

/*Buttons*/
.buttonstyle{
  font-size: 60%;
  padding: 0;
}

#buttonCluster{
  margin-left: 60%;
}

#buttonCluster{
  position: relative;
  margin-left: 75%;
  margin-right: 5%;
  margin-top: 4%;
  width: 25%;
}

#vexi:hover, #buttin:hover, #contact:hover{
  transform: none;
}



/*Roadmap  Har egen versjon ved lengere opp*/



/* Contact */
#formstad{
  margin-top: 20%;
  width: 100%;
  margin-left: 0;
}

#owner{
  width: 50%;
  margin-left: 20%;
}

.intro{
  margin-top:10%;
  margin-left: 20%;
  margin-right: 10%;
}

#contactInfo {
  width: 30%;
}

#applyForjob{
  width: 80%;
  margin-left: 10%;
}

#apply ul#applySteps {
  width: 40%
}
#applySteps li#emailPrep {
    list-style-image:none;
    list-style-position:outside;
    color: white;
    margin-left: -30%;
}
#applySteps li#emailContent {
    list-style-image:none;
    list-style-position:outside;
    color: white;
    margin-left: -30%;
}
#applySteps li#emailSend {
    list-style-image:none;
    list-style-position:outside;
    color: white;
    margin-left: -30%;
}


/*Index*/
.scroller{
  display: none;
}
.star-svg{
  display: none;
}

#steps {
width: 70%;
padding-bottom: 50%;
margin-top: 10%;
}

#step1, #step2,#step3,#step4{
margin: 0 0;
width: 100%;
float: none;
transition: none;
margin-top: 40%;
margin-bottom: 40%;
}

#step1:hover,#step2:hover,#step3:hover,#step4:hover{
    transform:  none;
}
}