
.features{
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-left: 20%;
	text-decoration: none;
}

#buttonCluster{
	position: relative;
	margin-left: 75%;
  	margin-right: 5%;
  	margin-top: 4%;
  	width: 25%;
}

#contact{
	background-color: #FCC90E;
	border:2px solid #FCC90E;
	border-radius: 5px;
	transition: transform .7s;
	width: 45%;
	margin-right: 5px; 
	padding: 5px;
}

#contact:hover{
	transform: scale(1.1);
}

#contact:visited{
	color: black;
}

#buttin{
	background-color: transparent;
	border:2px solid #FCC90E;
	border-radius: 5px;
	transition: transform .7s;
	width: 45%;
	color:#FCC90E;
	margin-right: 5px; 
	padding: 5px;
}
#buttin:hover{
	transform: scale(1.1);
}

#buttin:visited{
	text-decoration: #FCC90E;
}

.buttonstyle{
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#roadmap{
	color: #FCC90E;
}

#formstad{
  position: relative;
  height: 200%;
  margin-left: 38%;
  margin-right: 25%;
  margin-top: 5%;
  text-align: center;
}

input, textarea{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;

}

label, input{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
}

.submit{
	background-color: #FCC90E;
	border:2px solid #FCC90E;
	border-radius: 5px;
	transition: transform .7s;
	padding: 5px;
}

.submit:hover{
	transform: scale(1.1);
}

#logo{
	position: absolute;
	margin-left: 2%;
	transition: transform 1s;
}

#logo:hover{
	transform: scale(1.5);
}

#contentA{
	color: #373E56;
}

.scroller{
	position: fixed;
	height: 25%;
	width: 15%;
	margin-left: 82%;
	margin-right: 5%;
	top: 47%;
	z-index: 1;
}

.feature{
	background-color: white;
	border-radius: 5px;
	margin: 7px;
	width: 100%;
	height: 10%;


}
.feature2{
	background-color: #373E56;
	border-radius: 5px;
	margin: 7px;
	width: 100%;
	height: 10%;
}
.feature3{
	background-color: #373E56;
	border-radius: 5px;
	margin: 7px;
	width: 100%;
	height: 10%;
}
.feature4{
	background-color: #373E56;
	border-radius: 5px;
	margin: 7px;
	width: 100%;
	height: 10%;
}

.bck{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

.bck2{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -2;
}

body {
    /* feel free to change height */
    background: linear-gradient(
      to bottom,
      #101832,
      #152455
    );
  }
  
  h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
  }

  
 .star-svg {
    right: 0;
    width: 100%;
    position: absolute;
    top: 360px;
  }

  
#steps {
    width: 620px;
    margin: auto;
    margin-top: 200px;
}

#step1, #step2,#step3,#step4{
    width: 200px;
    position: relative;
    float: right;
    transition: transform 1s;
}

#step1:hover,#step2:hover,#step3:hover,#step4:hover{
   	transform:  scale(1.7);
}

#step2{
    float:left; 
    margin-top: 450px; 
    margin-left: -80px
}

#step3{
    margin-top: 1200px;
    margin-right: -240px;
}
#step4{
    float:left; 
    margin-top: 1900px; 
    margin-left: -140px
}

.wrap{
  position: relative;
  height: 100%;
  margin-top: 8%;
  margin-bottom: 10%;
  margin-left: 5%;
  z-index: -1;
}

#road1{
	margin-left: 5%;
	margin-top: 1%;
	transition: transform 1s;
}

#road2{
	margin-left: 25%;
	margin-top: 1%;
	transition: transform 1s;
}

#road3{
	margin-left: 30%;
	margin-bottom: 1%;
	transition: transform 1s;
}

#road4{
	margin-left: 20%;
	margin-bottom: 1%;
	transition: transform 1s;
}

#road1:hover,#road2:hover,#road3:hover,#road4:hover{
   	transform:  scale(1.1);
}

/*
.div1{
	top:-2%;
	position: absolute;
	right: 0;
	width: 20%;
	
}

.div2{
	top: 30%;
	position: absolute;
	left: -10%;
	width: 20%;
}

.div3{
	top: 67%;
	position: absolute;
	left: 88%;
	width: 20%;
}

.div4{
	bottom: -2%;
	position: absolute;
	left: -5%;
	width: 20%;
}


.phone{
	width: 100%;
	
}


.vector{
	width: 100%;
	top: 10px;
}