body {
    background: linear-gradient(
      to bottom,
      #101832,
      #152455
	);
  font-family: "lato", sans-serif;
}

h1 {
    font-family: "lato", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
}
h2 {
	color: #FCC90E
}

p {
	color: white;

	line-height: 2
  }
  section {
	text-align:center;
  }
  

/*Side-menu. */

.scroller{
	position: fixed;
	height: 25%;
	width: 15%;
	margin-left: 82%;
	margin-right: 5%;
	top: 47%;
	z-index: 1;
}

.feature{
	background-color: rgba(0, 0, 0, .4);
	border-radius: 5px;
	margin: 7px;
	width: 100%;
	height: 10%;
  padding: 5px; 
  text-align: center; 
  overflow: hidden;
}

.feature span {
  color: white; 
  text-decoration: none;
}


.selected {
  background-color: white;
  border: 2px solid rgba(0,0,0,0.05);
  padding: 3px;
}
.selected span {
  color: black;
}
/* Buttons*/
#buttonCluster{
  float: right;
  min-width: 300px;
  margin-top: 2.5em;
  text-align: right;
  margin-right: 2em;
}


.mainBtnStyle, .mainBtnStyle a {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: black;
  border:2px solid #FCC90E;
  background-color: #FCC90E;
  border-radius: 5px;
  transition: transform .25s;
  min-width: 120px;
  width: 30%;
  height: 100%;
  margin-right: 2%;
  margin-bottom: 4%; 
  padding: 5px;
  overflow: hidden;
  text-decoration: none;
}

.mainBtnStyle:hover, .secondaryBtnStyle:hover{
	transform: scale(1.05);
}


.secondaryBtnStyle{
  background-color: transparent;
  border:2px solid #FCC90E;
  border-radius: 5px;
  transition: transform .25s;
  min-width: 120px;
  width: 30%;
  color:#FCC90E;
  margin-right: 2%;
  margin-bottom: 4%;
  padding: 5px;
}

.secondaryBtnStyle a {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FCC90E;
  overflow: hidden;
  text-decoration: none;
}
#btnRoadmap:hover{
	transform: scale(1.1);
}

/*
.buttonstyle{
  width: 100%;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: black;
	font-family: 'Lato', sans-serif;
}
*/


/*Logo */

#logo{
	background-color: transparent;
  position: relative;
  margin-top: 2em;
	margin-left: 2em;
}




/*Form */

#formstad{
  position: relative;
  height: 200%;
  margin-left: 38%;
  margin-right: 25%;
  margin-top: 5%;
  text-align: center;
}

input, textarea{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;

}

label, input{
    font-family: "lato", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
}

.submit{
	background-color: #FCC90E;
	border:2px solid #FCC90E;
	border-radius: 5px;
	transition: transform .35s;
	padding: 5px;
}

.submit:hover{
	transform: scale(1.1);
}



/*Backgrounds*/

.bck{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
  z-index: -2;
}

.stepContainer {
  width: 200px;
  color: white;
  transition: transform .35s;
  text-align:center;
}

.stepContainer:hover {
  transform:  scale(1.3);
}
/* Scrollergreia og telefonene på forsiden */
#stepContainer1 {
  float: right;
}


.star-svg {
    right: 0;
    width: 100%;
    position: absolute;
    top: 360px;
  }


#steps {
    width: 620px;
    margin: auto;
	  margin-top: 200px;
    margin-bottom: 50px;
}

#step1, #step2,#step3,#step4{
    width: 200px;
    position: relative;
    float: right;
    transition: transform .35s;
}


#stepContainer1:hover, #stepContainer2:hover,#stepContainer3:hover,#stepContainer4:hover{
     transform:  scale(1.3);
     
}

#step2{
    float:left;
    margin-top: 450px;
    margin-left: -80px
}

#step3{
    margin-top: 1200px;
    margin-right: -240px;
}
#step4{
    float:left;
    margin-top: 1900px;
    margin-left: -140px;
    margin-bottom:200px;
}

#step1.visited{
	content:url("images/index/steps/step1_visited.svg");
}
#step2.visited{
	content:url("images/index/steps/step2_visited.svg");
}



/*Roadmap*/


.wrap{
  position: relative;
  height: 50%;
  margin-top: 8%;
  margin-bottom: 10%;
  margin-left: 5%;
  z-index: -1;
}

#road1{
  position: relative;
  margin-left: 5%;
  margin-top: 1%;
  width: 20%;
}

#road2{
  position: relative;
  margin-left: 25%;
  margin-top: 1%;
  width: 20%;
}

#road3{
  position: relative;
  margin-left:25%;
  margin-bottom: 1%;
  width: 20%;
}

#road4{
  position: relative;
  margin-left: 20%;
  margin-bottom: 1%;
  width: 20%;
}

#TheRoad{
  width: 90%;
}


/* CONTACT */
/* ------------ */
.intro{
	margin-left:7%;
	margin-right:30%;
	text-align:left;
}

#contactInfo {
	margin-left:7%;
	width: 60%;
	padding:50px;
  }
#contactInfo li{
	color: white;
}
  
/*how to apply*/
#apply ul#applySteps {
    margin-left:25%;
    width: 50%
}
#applySteps li {
    font-size:17px;
    color: white;
    padding:8px;
}
#applySteps li#emailPrep {
    list-style-image:url(images/contact/ringemail.png);
    list-style-position:outside;
    color: white
}
#applySteps li#emailContent {
    list-style-image:url(images/contact/ringempl.png);
    list-style-position:outside;
    color: white
}
#applySteps li#emailSend {
    list-style-image:url(images/contact/ringsend.png);
    list-style-position:outside;
    color: white
}


/* TODO: FIKS dette  */

.bck {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

#owner {
  margin-left:9%;
  margin-right:30%;
}

#formstad{
  position: relative;
  height: 200%;
  margin-left: 40%;
  margin-right: -4%;
  margin-top: -38%;
  text-align: center;
  margin-bottom: 15%
}

input, textarea{
	  width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 7px;
    border-color: white;
    border-width: medium;
    background-color: #101832

}

label{
	color: #FCC90E;
    font-size: 90%;
    font-weight: bold;
}

.submit{
	background-color: #FCC90E;
	border:2px solid #FCC90E;
	border-radius: 5px;
	transition: transform .35s;
	padding: 5px;
  font-size: 15px

}

.submit:hover{
	transform: scale(1.1);
}

.btnHome{
    background: url(images/homeBtn.svg);
    background-repeat: no-repeat;
    background-size: 276px;
    width:276px;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
}


/*Mobile version*/
@media all and (max-width: 800px) {
.scroller{
  display: none;
}
.buttonstyle{
  font-size: 60%;
  padding: 0;
}

#btncontact{ 
padding: 0;
float: right;
}

#btnRoadmap{
  padding: 0;
  float: left;
}

.wrap{
  margin-top: 15%;
  width: 70%;
}

.star-svg{
  display: none;
}

#steps {
width: 70%;
padding-bottom: 50%;
margin-top: 10%;
}

#step1, #step2,#step3,#step4{
margin: 0 0;
width: 100%;
position: relative;
float: none;
transition: .35;
margin-top: 40%;
margin-bottom: 40%;
}
}
